#carrusel-repos::-webkit-scrollbar {
    display: none;
}
#carrusel-repos {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.btn-repo-link {
    width: 100%;
    max-width: 100%;
    background-color: #e0e7ff;
    border-radius: 9999px;
    padding: 5px 10px;
    color: #2563eb;
    text-decoration: none;
    box-shadow: 0 2px 8px rgba(37, 99, 235, 0.08);
    border: 1.5px solid #93c5fd;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-repo-link:hover {
    background-color: #2563eb;
    color: #fff;
    box-shadow: 0 4px 16px rgba(37, 99, 235, 0.18);
    transform: scale(1.12);
}
.btn-repo-link img {
    filter: none;
    transition: filter 0.2s;
}
.btn-repo-link:hover img {
    filter: brightness(0) invert(1);
}
